html {
  font-size: 15px;
  height: 100%;

}

body {
  height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: var(--cFont);
  line-height: 18px;
  overflow-y: auto;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.absolute {
  position: absolute;
}
