#root .light {
  --cBackground: #FFFFFF;
  --cForeground: #FAFAFA;
  --cFont: #262626;
  --cFontInverse: #FAFAFA;
  --cBorder: #CDCDCD;

  --cRedPrimary: #FC3927;
  --cBluePrimary: #0C3183;
  --cGrayLight: #EEEEEE;
  --cGrayDark: #B7B7B7;

  --blendMode: lighten;
}

#root .dark {
  --cBackground: #161616;
  --cForeground: #0C0C0C;
  --cFont: #FAFAFA;
  --cFontInverse: #000000;
  --cBorder: #5D5D5D;

  --cRedPrimary: #FF7455;
  --cBluePrimary: #BB86FC;
  --cGrayLight: #666666;
  --cGrayDark: #B7B7B7;

  --blendMode: multiply;
}
