html {
  overflow-y: auto !important;
}

#side-nav {
  display: none;
}

.top-nav {
  height: 66px !important;
}

.logo {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.logo img {
  height: 50px;
  width: 50px;
}

.menu .navigation a:first-child {
  display: none !important;
}

#main {
  padding-top: 44px !important;
  height: calc(100% - 22px) !important;
}

.content {
  margin-bottom: 0 !important;
}

#sidebarNav {
  padding: 40px 25px 10px !important;
  width: 300px !important;
}

#sidebarNav nav > h2:first-child {
  display: none;
}

#sidebarNav h2 {
  font-weight: 600;
  color: #0C3183;
  margin-block-start: 10px;
  margin-block-end: 5px;
}

#sidebarNav h3 {
  font-weight: 500;
  color: #3273dc;
  margin-block-start: 5px;
  margin-block-end: 5px;
  margin-left: 10px;
}

#sidebarNav a:hover {
  color: #3273dc;
}

#sidebarNav a:visited {
  color: #0c0c0c;
}

.vertical-section h1 {
  font-size: 35px !important;
}
