<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#FAFAFA"/>
    <meta name="description" content="Nohec"/>
    <link rel="icon" href="<%= htmlWebpackPlugin.options.publicPath %>favicon.ico"/>
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.options.publicPath %>icon-192.png"/>
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.publicPath %>manifest.json"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nohec</title>
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
</body>
</html>
